---
interface Props {
	title: string;
	description: string;
	ogImgUrl: string;
}

const { title, description, ogImgUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="your-code-here">
		<meta name="robots" content="index, follow">
		<title>{title}</title>
		<meta name="description" content={description}>
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={ogImgUrl}>
		<meta property="og:url" content={Astro.url.origin + Astro.url.pathname}>
		<meta property="og:type" content="article">
	</head>
	<body>
		<slot />
	</body>
</html>
